<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbExpedienteConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\dbExpediente.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
       <!--<add name="dbBancosKHPConnectionString" connectionString="Data Source= DESKTOP-KP7NTJF\SQLEXPRESS;Initial Catalog=dbBancosKHP;Integrated Security=True" 
        providerName="System.Data.SqlClient" />-->
  </connectionStrings>
 
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
</configuration>