body {
}
 .auto-style19 {
            width: 100%;
        }
        .auto-style20 {
            height: 23px;
        }
        .auto-style21 {
            height: 23px;
            text-align: center;
        }
        .auto-style22 {
            text-align: center;
        }
        .auto-style23 {
            height: 23px;
            text-align: right;
        }
        .auto-style24 {
            text-align: right;
        }