<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="dbBancoKHP"
         connectionString="Data Source= DESKTOP-KP7NTJF\SQLEXPRESS; Initial Catalog=dbBancosKHP; Integrated Security=True"
         providerName="System.Data.SqlClient;" />
  </connectionStrings>
  <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63604/Service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="App_WebReferences.ServiceSoap"
        name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
